//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Contacts -----------------------------
//  ------------------------------------------------------------------------------

.title-block {
	margin-bottom: 88px;

	@media (max-width: $breakpoint-lg) {
		margin-bottom: 60px;
	}
	&__container {
		text-align: center;
	}

	&__line {
		background-color: $mainYellow;
		margin: 0 auto;

	}

}

.address{
	$self: &;

	&--contacts {
		background-position: left top 210px;
		background-repeat: no-repeat;
		margin-bottom: 170px;
		padding-top: 186px;

		@media (max-width: $breakpoint-lg) {
			padding-top: 60px;
		}

		@media (max-width: $breakpoint-sm) {
			padding-top: 30px;
		}

		#{ $self }__title {
			@media (max-width: $breakpoint-lg) {
				// margin-bottom: 30px;
			}
		}

		#{ $self }__desc {
			@media (max-width: $breakpoint-lg) {
				font-size: 18px;
			}
		}

		#{ $self }__info {
			@media (max-width: $breakpoint-lg) {
				margin-bottom: 60px;
			}
		}

	}
}

.bw-block {
	width: 100%;
	text-align: center;
	background-position: bottom;
	padding: 30px 0 60px;

	display: flex;
	flex-direction: column;

	@media (max-width: $breakpoint-md){
		padding-bottom: 0;
	}

	&__photo {
		display: flex;
		@media (max-width: $breakpoint-md) {
			flex-wrap: wrap;
			order: 1;
		}
	}

	&__img {
		min-width: 33%;
		filter: grayscale(100%);

		@media (max-width: $breakpoint-lg) {
			min-height: 400px;
		}

		@media (max-width: $breakpoint-md) {
			display: none;
			min-height: unset;
		}
	}

	&__img--2 {
		@media (max-width: $breakpoint-md) {
			display: block;
		}
	}

	&__container {
		text-align: center;
		padding-top: 70px;
		@media (max-width: $breakpoint-md) {
			order: 2;
			padding-bottom: 40px;
			padding-top: 20px;
		}
	}

	&__desc {
		margin: 0 0 40px;
		@include setText(21px, 29px, 500);
		@media (max-width: $breakpoint-md) {
			margin: 0 0 20px;
		}
	}

	&__wrapper-button {
		max-width: 218px;
		width: 218px;
		margin: 0 auto;
	}
}
