//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Контакты -----------------------------
//  ------------------------------------------------------------------------------

.title-block {
	padding: 186px 0 0 0;
	// margin-top: 230px;
	// margin-bottom: 20px;

	&__container {
		text-align: center;
	}

	&__title {

	}

	&__line {
		background-color: $mainYellow;
		margin: 0 auto;
	}

}
@media (max-width: $breakpoint-lg) {
	.title-block{
		padding-top: calc(230px / 4);
	}
}

.container {

}

.title-h2 {

}

.line {

}

.address {
	background-image: url(../../img/address-bg.png);
	background-position: left top 210px;
	background-repeat: no-repeat;

	&__info {

	}

	&__item {

	}

	&__title {
		margin-top: 80px;
	}
	@media (max-width: $breakpoint-lg) {
		&__title{
			margin-top: calc(88px / 2);
			margin-bottom: calc(63px / 2);
		}
	}

	&__text {
	}

	&__desc {
	}
	@media (max-width: $breakpoint-lg) {
		&__desc{
		font-size: 18px;
		}
	}

	&__map {

	}

	&__img {

	}

}
@media (max-width: $breakpoint-lg) {
	.address{
		margin-bottom: calc(170px / 8);

		&__info{
			margin-bottom: calc(80px / 2);
		}
	}
}

.bw-block {
	width: 100%;
	text-align: center;
	background-image: url("../img/yellow_block.png");
	background-position: bottom;
	padding: 30px 0 60px;

	display: flex;
	flex-direction: column;

	&__photo {
		display: flex;
	}

	&__img {
		min-width: 33%;
		filter: grayscale(100%);
	}

	&__img--1 {

	}

	&__img--2 {

	}

	&__img--3 {

	}

	&__container {
		text-align: center;
	}

	&__desc {
		margin: 70px 0 40px;
		@include setText(21px, auto, 600);
	}
	&__link {
		display: inline-block;
		color: $mainBrown;
		@include setText(21px, auto, 600);
		padding: 30px 60px;
		border: 1px solid $mainBrown;
		background-color: transparent;
		transition: color $timeTrans linear, background-color $timeTrans linear;
	}
	&__link:hover {
		color: $mainBackground;
		background-color: $mainBrown;
	}

	@media (max-width: $breakpoint-md) {
		&__photo {
			flex-wrap: wrap;
		}
		&__photo {
			order: 2;
		}
		&__container {
			order: 1;
			padding-bottom: 40px;
		}
		&__desc {
			margin: 20px 0 20px;
		}
	}
}
@media (max-width: $breakpoint-md) {
	.bw-block{
		padding-bottom: 0;
	}
}
