//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Pages: Для компаний-------------------------
//  ------------------------------------------------------------------------------
.pro-firmy {
  padding: 186px 0 200px;
  text-align: center;

	background-image: url("../img/IMAGE-FIRMY-SUBTLE.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&__container{
		margin-bottom: 140px;
	}
	&__title {
	}

	&__line {
    margin: 0 auto 59px;
		background-color: $mainYellow;
	}

	&__desc {
	}

	&__photo{
		display: flex;
		justify-content: center;
	}

	&__wrapper-img{
		width: calc(33% - (2 * 10px)/2);
		margin-right: 10px;
		-webkit-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.2);
	}
	&__wrapper-img:last-child{
		margin-right: 0;
	}
	&__img{
		// width: 33%;
	}
	@media (max-width: $breakpoint-lg){
		&__photo {
			flex-wrap: wrap;
			// margin-bottom: -10px;
		}
		&__wrapper-img{
			width: calc(50% - 5px);
			margin-bottom: 10px;
		}
		&__wrapper-img:nth-child(2){
			margin-right: 0;
		}
		&__wrapper-img:last-child{
			margin-bottom: 0;
		}
	}
	@media (max-width: $breakpoint-md) {
		&__photo {
			padding: 0 120px;
		}
		&__wrapper-img{
			width: 100%;
			margin-right: 0;
		}
		&__img{
			// width: 100%;
		}
		&__desc{
			font-size: 20px;
		}
	}
	@media (max-width: $breakpoint-sm) {
		&__photo {
			padding: 0;
		}
	}
}
@media (max-width: $breakpoint-md) {
	.pro-firmy{
		padding-bottom: 120px;
		&__container{
			margin-bottom: 70px;
		}
	}
}
@media (max-width: $breakpoint-lg) {
	.pro-firmy{
		padding-top: calc(230px / 4);
	}
}

.customers {
	padding: 170px 80px 200px;
	background-color: $mainYellow;

	&__title {
		text-align: center;
		margin-bottom: 150px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 120px;
		grid-row-gap: 90px;
		// grid-gap: 1em;
	}

	&__item {
		// grid-column: span 6;
	}

	&__item {

	}

}

.comment {

	&__person {
		position: relative;
		padding-left: 130px;
		margin-bottom: 10px;
	}

	&__photo {
		position: absolute;
		top: -15px;
		left: 50px;
		width: 72px;
		height: 72px;
	}

	&__name {
		// font-size: 21px;
		@include setText(24px, 18px, 500);
		color: $mainText;
	}

	&__post {
		@include setText(16px, 18px, 500);
	}

	&__content {
		background-color: $mainBrown;
		border-radius: 100px;
		color: $mainBackground;
		padding: 30px 40px 30px 50px;
		@include setText(16px, 22px, 500);
	}
}

@media (max-width: $breakpoint-xl) {
	.customers {
		&__list {
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 30px;
		}
		&__item {
			grid-column: span 6;
		}

	}
}
@media (max-width: $breakpoint-lg) {
	.customers {
		padding: 30px 10px 50px;
		&__item {
			grid-column: span 12;
		}

		&__title{
			margin-bottom: 50px;
		}
	}

	.comment{
		&__name {
			font-size: 21px;
		}
		&__content{
			font-size: 14px;
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.customers {
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}
		&__item {
			grid-column: auto;
		}
	}
	.comment {
		// &__person {
		// 	padding-left: 80px;
		// }
		//
		// &__photo {
		// 	top: -10px;
		// 	left: 0;
		// }
		&__name {
			font-size: 18px;
		}

		&__post {
			font-size: 15px;
		}
	}
}
@media (max-width: 390px){
	.comment{
		&__name {
			font-size: 14px;
		}

		&__post {
			font-size: 14px;
		}
	}
}

.connection {
	padding: 270px 0 200px;

	&__title {
		text-align: center;
	}

	&__list {
		list-style-type: disc;
		margin: 100px auto;
		max-width: 880px;
		padding-left: 30px;
	}

	&__item {
		color: $mainYellow;
	}
	&__item--text {
		@include setText(23px, auto, 500);
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1050px;
		margin: 0 auto;
	}

	&__input{
		@include setText(21px, auto, 500);
		width: calc(50% - 10px);
		border: 3px solid $mainYellow;
		// outline: 3px solid $mainYellow;
		border-radius: 10px;
		padding: 30px 20px;
		-webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
		-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
		box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
	}
	&__name {
		margin: 0 20px 20px 0;
		min-height: 80px;
		max-height: 80px;
	}

	&__email {
		margin: 0 0 20px 0;
		min-height: 80px;
		max-height: 80px;
	}

	&__text {
		min-height: 410px;
		max-height: 410px;
		margin: 0;
		width: 100%;
	}
	&__btn{
		@include setText(21px, auto, 700);
		background-color: $mainYellow;
		border-radius: 100px;
		padding: 30px 60px;
		margin: 60px auto 0;
		transition: opacity $timeTrans linear, box-shadow $timeTrans linear;
	}
	&__btn:hover{
		opacity: 0.8;
		-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	}

}
@media (max-width: $breakpoint-lg) {
	.connection{
		padding-top: calc(270px / 4);
		padding-bottom: calc(200px / 4);

		&__list{
			margin: calc(100px / 4) auto calc(100px / 2);
		}
		&__btn{
			margin: 40px auto 0;
		}
	}
}
@media (max-width: $breakpoint-md) {
	.connection{
		&__name {
			width: 100%;
			padding: 15px 20px;
			min-height: 60px;
			max-height: 60px;
			margin-right: 0;
		}
		&__email {
			width: 100%;
			padding: 15px 20px;
			min-height: 60px;
			max-height: 60px;
		}
		&__text {
			padding: 15px 20px;
			line-height: 20px;
		}
	}
}
