//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Blocks Files ------------------------------
//  ------------------------------------------------------------------------------

.flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer {
	width: 100%;
	background-color: $mainBrown;
	padding: 90px 0 100px;

	&__logo {
		grid-column: span 12;
		margin: 0 auto;
	}
	&__link {
		@include setText(19px, auto, 600);
		color: $mainYellow;
		text-decoration: none;
		transition: color $timeTrans linear;
	}
	&__link:hover {
		color: $mainBackground;
	}
	&__link--logo {
		width: 118px;
		height: 105px;
	}
	&__link--logo--img{
	}
	&__contacts{
		// width: 100%;
		margin: 40px 0 75px;
	}
	&__info {
    color: $mainBackground;
		@include setText(21px, 1, 500);
		text-align: center;
	}
	&__info--1 {
		margin: 50px 0;
		grid-column: span 4;
	}
	&__info--2 {
		grid-column: span 4;
	}
	&__info--2--email {
		margin: auto 0;
	}
	&__info--3 {
		grid-column: span 4;
	}
	&__info--link{
		color: $mainBackground;
		@include setText(21px, 1, 500);
		text-decoration: none;
		transition: color $timeTrans linear;
	}
	&__info--link:hover{
		color: $mainYellow;
	}
	@media (max-width: $breakpoint-md) {
		&__info{
			margin: 10px auto;
		}
		&__info--1 {
			margin: 50px 0;
		}
		&__contacts{
			margin: 40px 0;
		}
	}

	&__flex{
	}
	&__flex--col{
		flex-direction: column;
	}
}

.contacts-icons {
	width: 150px;
	margin: 0 auto;

  &__instagram {
		display: block;
		width: 43px;
		height: 42px;
		background-position: center;
		background-size: cover;
		background-image: url("../../img/INSTAGRAM.png");
		transition: opacity $timeTrans linear;
  }
  &__facebook {
		display: block;
		width: 43px;
		height: 42px;
		background-position: center;
		background-size: cover;
		background-image: url("../../img/FACEBOOK.png");
		transition: opacity $timeTrans linear;
  }
	&__facebook:hover,  &__instagram:hover{
		opacity: 0.8;
  }
}

// @media (max-width: $breakpoint-lg) {
// 	.footer__link {
// 		width: 87px;
// 		height: 79px;
// 	}
// }
@media (max-width: $breakpoint-sm) {
	.footer{
		max-height: 100vh;
	}
	// .footer__link {
	// 	width: 77px;
	// 	height: 69px;
	// }
}

// .container {
// }

// .logo {
// }
// .text-link {
// }
// .text {
// }
