//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Blocks Files ------------------------------
//  ------------------------------------------------------------------------------

.header {
	padding: 20px 0 21px;
  width: 100%;
	background-color: $mainBrown;

	&__logo {
    grid-column: span 4;
	}

	&__logo-img {
	}

	&__menu {
		grid-column: span 8;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		padding-right: 10px;
		margin: auto 0;
	}
	&__item:last-child {
		padding-right: 0;
	}

	&__item--active {
	}

	&__link {
		@include setText(20px, 60px, 500);
		color: $mainBackground;
	}
	&__link:hover {
		@include setText(20px, 60px, 500);
		color: $mainYellow;
	}
	&__link--img-logo {
		width: 87px;
		height: 79px;
		background-image: url("../../img/logo.png");
	}
	&__link--img-cart {
		width: 35px;
		height: 33px;
		background-image: url("../../img/cart.png");
	}
	&__link--img-search{
		width: 32px;
		height: 32px;
		background-image: url("../../img/search.png");
	}
}

.grid {

	&__wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}
