//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Blocks Files ------------------------------
//  ------------------------------------------------------------------------------
.header {
	padding: 20px 0;
	width: 100%;
	background-color: $mainBrown;

	@media (max-width: $breakpoint-md) {
		padding: 0;
	}

	&__content {
		@media (max-width: $breakpoint-md) {
			min-height: 80px;
			max-height: 80px;
			padding: 5px 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__logo {
    grid-column: span 1;
	}

	&__menu {
    grid-column: span 11;
		@media (max-width: $breakpoint-md) {
			display: none;
		}
	}
}

.logo {
	&__link {
		width: 87px;
		height: 79px;
	}
}

.menu__btn{
	display: none;
}

#menu__toggle {
	display: none;
}

@media (max-width: $breakpoint-lg) {
	.logo {
		&__link {
			width: 67px;
			height: 59px;
		}
	}
}
@media (max-width: $breakpoint-md) {

	// .header__menu{
	// 	display: none;
	// }

	.menu__btn {
		display: inherit;
	  display: flex;
		flex-direction: column;
	  align-items: center;
	  z-index: 1;
		transition: opacity $timeTrans linear;

		&:hover {
			cursor: pointer;
			opacity: .6;
		}

		&:before,
		&:after,
		.header__line {
			content: '';
			display: block;
			max-width: 26px;
			min-width: 26px;
			height: 2px;
			min-height: 2px;
			background-color: #FFFFFF;
		}

		.header__line {
			margin: 4px 0;
		}
	}


	// #menu__toggle:checked ~ .menu__btn > span {
	// 	  transform: rotate(45deg);
	// 	}
	// 	#menu__toggle:checked ~ .menu__btn > span::before {
	// 	  top: 0;
	// 	  transform: rotate(0);
	// 	}
	// 	#menu__toggle:checked ~ .menu__btn > span::after {
	// 	  top: 0;
	// 	  transform: rotate(90deg);
	// 	}
}

.modal{
	.menu{
		flex-wrap: wrap;
	}

	.menu__list{
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
	}

	.menu__item{
		width: 100%;
		text-align: center;
		margin: 0;
		height: 60px;
	}

	.menu__link{
		margin: 0 auto;
	}

	.menu__item--cart, .menu__item--search{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal__dialog{
		background-color: $mainBrown;
		height: 100vh;
		max-height: none;
	}

	.modal__content{
		background-color: $mainBrown;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.modal__close{
		background-size: cover;
		background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.11 2.697L2.698 4.11 6.586 8l-3.89 3.89 1.415 1.413L8 9.414l3.89 3.89 1.413-1.415L9.414 8l3.89-3.89-1.415-1.413L8 6.586l-3.89-3.89z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
	}
}
@media (max-width: $breakpoint-sm) {
	.logo {
		&__link {
			width: 57px;
			height: 49px;
		}
	}
}
