//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Blocks Files ------------------------------
//  ------------------------------------------------------------------------------

.header {
	padding: 20px 0 21px;
  width: 100%;
	background-color: $mainBrown;

	&__logo {
    grid-column: span 4;
	}

	&__logo-img {
	}

	&__menu {
		grid-column: span 8;
		display: grid;
		grid-template-columns: repeat(8, auto);
	}
	@media (max-width: $breakpoint-xl) {
		&__menu {
			grid-column: span 11;
		}
		&__logo {
	    grid-column: span 1;
		}
  }

	&__item {
		// outline: 1px solid red;
		margin: auto auto;
	}

	&__item--active {
	}

	&__link {
		// outline: 1px solid green;
		@include setText(20px, 60px, 500);
		color: $mainBackground;
	}
	&__link:hover {
		@include setText(20px, 60px, 500);
		color: $mainYellow;
	}
	&__link--img-logo {
		width: 87px;
		height: 79px;
		background-image: url("../../img/logo.png");
	}
	&__item--img-cart{
		margin: auto 0 auto auto;
	}
	&__link--img-cart {
		width: 35px;
		height: 33px;
		background-image: url("../../img/cart.png");
	}
	&__item--img-search{
		margin: auto 0 auto auto;
	}
	&__link--img-search{
		width: 32px;
		height: 32px;
		background-image: url("../../img/search.png");
	}
}

.grid {

	&__wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}
