//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Components Files ------------------------------
//  ------------------------------------------------------------------------------

.btn {
  $self: &;
  @include setText(21px, 29px, 700);
  @include flex-center;
  @include transition-colors;

  max-width: 100%;
  width: 100%;
  border-radius: 100px;
  padding: 8px;
  min-height: 74px;
  max-height: 74px;
  outline: none;
  user-select: none;
  text-decoration: none;
  background-color: $mainYellow;
  color: $mainBrown;
  opacity: 1;
  box-shadow: unset;

  @media (max-width: $breakpoint-md) {
    @include setText(16px, 24px, 700);
    min-height: 56px;
    max-height: 56px;
  }   

  &:hover,
  &:focus {
    cursor: pointer;
		opacity: 0.6;
  }

  &--transparent {
    @include setText(21px, 29px, 600);
		border: 1px solid $mainBrown;
		background-color: transparent;
    min-height: 76px;
    max-height: 76px;
    border-radius: 0px;

		@media (max-width: $breakpoint-md) {
      @include setText(16px, 24px, 600);
      min-height: 56px;
      max-height: 56px;
		}   

    &:hover {
      color: $mainBackground;
      background-color: $mainBrown;
      opacity: 1;
    }
  }
}