//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Typography Files ------------------------------
//  ------------------------------------------------------------------------------


// h1,
.title-h1 {
  @include setText(32px, 72px, 500);
  font-family: $twoFamily;
  color: $mainBrown;
}

// h2,
.title-h2 {
  @include setText(32px, 72px, 500);
  font-family: $twoFamily;
  color: $mainBrown;
}

// h3,
.title-h3 {
  @include setText(18px, auto, 500);
  font-family: $twoFamily;
  color: $mainBrown;
}

h4,
.title-h4 {
  @include setText(24px, 32px, 500);
}

h5,
.title-h5 {
  @include setText(22px, 30px, 500);
}

h6,
.title-h6 {
  @include setText(20px, 28px, 500);
}

// p,
.text {
  @include setText(24px, 40px, 500);
  color: $mainBrown;
}

// span,
.text-span {
  // @include setText(14px, 24px, 400);
  @include setText(21px, auto, 500);
  color: $mainBrown;
}

strong,
.text-strong {
  @include setText(16px, 24px, 700);
}

// a,
.text-link {
  @include setText(16px, 24px, 400);
  display: block;
  text-decoration: none;
	user-select: none;
}
